<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.WebServices.IWebServiceExtension, Autodesk.Connectivity.WebServices"
      type="Autodesk.TS.PlmEventHandler.EventHandlers, Autodesk.TS.PlmEventHandler">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>